.card {
  transition: 0.3s;
  padding: 10px;
  border: none;
}

.games-container {
  margin-top: 20px;
}

.card:hover {
  cursor: pointer;

  font-size: 18px;
  font-weight: 600;
  text-align: center;
  .jackpot-overlay {
    display: block;
    padding: 2px 16px;
    position: absolute;
    color: white;
    width: 93%;
    background-color: rgba(0,0,0,.5);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    top: 10px;
    z-index: 1;
  }

  .name-overlay {
    display: block;
    padding: 2px 16px;
    position: absolute;
    color: white;
    bottom: 10px;
    width: 93%;
    background-color: rgba(0,0,0,.5);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .play-button-overlay {
    display: block;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.top-banner {
  display: block;
  position: absolute;
  color: white;
  top: 0;
  right: 0;
  width: 120px;
  z-index: 10;
}

.card:not(:hover) {
  .name-overlay, .play-button-overlay, .jackpot-overlay{
    display: none;
  }
}

img {
  position: relative;
  border-radius: 15px;
  object-fit: contain;
}

.game-image {
  min-width: 250px;
  max-height: 150px;
  object-fit: contain;
}

@media screen and (max-width: 600px) {
  .games-container {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }

}



